body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #fff;
}

.bigName {
  top: 1em;
  position: relative;
  font-size: 8em;
  text-align: center;
  color: white;
}

.subhead {
  top: 3em;
  position: relative;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .bigName {
    font-size: 5em;
    text-align: center;
    position: relative;
    top: 1.5em;
  }

  .subhead {
    text-align: center;
    position: relative;
    top: 3em;
  }
}

@media only screen and (min-width: 600px) {
  .gold-card {
    margin: 80px;
  }
}

.nav-link,
.navbar-brand {
  color: #bd8c7d !important;
}

.navbar {
  background-color: white;
}

.about {
  color: #d1bfa7;
}

.gold-card-text {
  font-size: 1.5em;
  padding: 0.75em;
  color: #49494b;
}

.gold-card {
  background-color: #d1bfa7 !important;
  margin-top: 10px;
}

.emphasized {
  color: white;
}

.header-right {
  text-align: right;
  color: white;
  padding: 10px;
}

.project-text {
  margin-top: -10px;
  margin-left: 10px;
  color: #49494b;
}

.project-card {
  padding: 10px;
  margin-top: 10px;
}

footer {
  background-color: #8e8e90;
  margin-top: -40px;
  padding: 30px;
  text-align: center;
  color: white;
}

.contact-text {
  color: white;
  text-align: center;
  position: relative;
  font-size: 1.5em;
  top: 5em;
}

.contact-text > a:link {
  color: white;
  margin: 8px;
}

.contact-text > a:visited {
  color: white;
  margin: 8px;
}

.contact-text > a:hover {
  color: #49494b;
  margin: 8px;
}

.blog-container {
  background-color: #d1bfa7 !important;
}

.blog-headline > a {
  text-align: center;
}

.blog-headline > a:link {
  color: #49494b;
}

.blog-headline > a:hover {
  color: #d1bfa7 !important;
  text-decoration: none;
}

.blog-headline > a:visited {
  color: #49494b;
}

.meta-text {
  font-size: 0.8em;
  margin-top: -10px;
}

img {
  max-width: 100%;
}

pre {
  background-color: rgb(189, 140, 125, 0.3);
  padding: 10px;
}

.single-post {
  color: #49494b;
}

.single-post > a:link {
  color: #bd8c7d !important;
}

.single-post > a:visited {
  color: #bd8c7d !important;
}

.headline-card {
  padding: 10px;
  margin-bottom: 10px;
}
